<div class="site-wrapper">

    <!--header starts-->
    <header id="header" class="header-scroll top-header headrom">

        <!-- .navbar -->
        <nav class="navbar navbar-dark">
            <div class="container">
                <a class="navbar-brand" href="#"> <img class="img-rounded" src="/images/food-picky-logo.png" alt=""> </a>
                <div class="pull-right">
                    <ul class="nav navbar-nav">
                        <li class="nav-item"> 
                            <a class="nav-link" style="color: rgba(255,255,255,0.5)" href="index-2.html">Home</a> 
                        </li>
                        <li class="nav-item"> 
                            <a class="nav-link" style="color: rgba(255,255,255,0.5)" href="index-2.html">Home</a> 
                        </li>
                        <li class="nav-item"> 
                            <a class="nav-link" style="color: rgba(255,255,255,0.5)" href="index-2.html">Home</a> 
                        </li>
                        <li class="nav-item"> 
                            <a class="nav-link" style="color: rgba(255,255,255,0.5)" href="index-2.html">Home</a> 
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- /.navbar -->

    </header>
    <!-- header ends -->


    <!-- banner part starts -->
    <section class="hero bg-image" style="background: url('/images/image01.jpg')">
        <div class="hero-inner">
            <div class="container text-center hero-text font-white">
                <h1>Order Delivery & Take-Out </h1>
                <h5 class="font-white space-xs">Find restaurants and order your favourite cuisines</h5>
                <div class="banner-form">

                    <form class="form-inline">
                        <div class="form-group">
                            <div class="form-group">
                                <input type="text" style="height: 45px; width: 230px;" class="form-control form-control-lg" id="exampleInputAmount" placeholder="Enter Restaurant Name...."> </div>
                        </div>
                        <button type="button" class="btn theme-btn btn-lg">Search Restaurant</button>
                    </form>

                </div>

                <!-- SVG Steps start -->
                <div class="steps">
                    <div class="step-item step1">
                        <span class="fa fa-home" style="font-size: 35px;"></span>
                        <h4><span>1. </span>Choose Location</h4> 
                    </div>
                    <!-- end:Step -->
                    <div class="step-item step2">
                        <span class="fa fa-cutlery" style="font-size: 35px;"></span>
                        <h4><span>2. </span>Order Food</h4> 
                    </div>
                    <!-- end:Step -->
                    <div class="step-item step3">
                        <span class="fa fa-motorcycle" style="font-size: 35px;"></span>
                        <h4><span>3. </span>Delivery or take out</h4> 
                    </div>
                </div>
                <!-- SVG Steps End -->
            </div>
        </div>
        <!--end:Hero inner -->
    </section>
    <!-- banner part ends -->


    <!-- location match part starts -->
    <div class="location-match text-center">
        <div class="container"> <span>356 restaurants matched your location: <span class="primary-color">New York, NY</span> </span>
        </div>
    </div>
    <!-- location match part ends -->


    <!-- Popular block starts -->
    <section class="popular">
        <div class="container">
            <div class="title text-xs-center m-b-30">
                <h2>Popular This Month In Your City</h2>
                <p class="lead">The easiest way to your favourite food</p>
            </div>
            <div class="row">
                <!-- Each popular food item starts -->
                <div class="col-xs-12 col-sm-6 col-md-4 food-item">
                    <div class="food-item-wrap">
                        <div class="figure-wrap bg-image" style="background: url('/images/food1.jpg')">
                            <div class="distance"><i class="fa fa-pin"></i>1240m</div>
                            <div class="rating pull-left"> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star-o"></i> </div>
                            <div class="review pull-right"><a href="#">198 reviews</a> </div>
                        </div>
                        <div class="content">
                            <h5><a href="profile.html">The South"s Best Fried Chicken</a></h5>
                            <div class="product-name">Fried Chicken with cheese</div>
                            <div class="price-btn-block"> <span class="price">$ 15,99</span> <a href="#" class="btn theme-btn-dash pull-right">Order Now</a> </div>
                        </div>
                        <div class="restaurant-block">
                            <div class="left">
                                <a class="pull-left" href="profile.html"> <img src="/images/logo1.png" alt="Restaurant logo" /> </a>
                                <div class="pull-left right-text"> <a href="#">Chicken Restaurant</a> <span>68 5th Avenue New York</span> </div>
                            </div>
                            <div class="right-like-part pull-right"> <i class="fa fa-heart-o"></i> <span>48</span> </div>
                        </div>
                    </div>
                </div>
                <!-- Each popular food item starts -->
                <!-- Each popular food item starts -->
                <div class="col-xs-12 col-sm-6 col-md-4 food-item">
                    <div class="food-item-wrap">
                        <div class="figure-wrap bg-image" style="background: url('/images/food2.jpg')">
                            <div class="distance"><i class="fa fa-pin"></i>1240m</div>
                            <div class="rating pull-left"> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star-o"></i> </div>
                            <div class="review pull-right"><a href="#">198 reviews</a> </div>
                        </div>
                        <div class="content">
                            <h5><a href="profile.html">The South"s Best Fried Chicken</a></h5>
                            <div class="product-name">Fried Chicken with cheese</div>
                            <div class="price-btn-block"> <span class="price">$ 18,49</span> <a href="#" class="btn theme-btn-dash pull-right">Order Now</a> </div>
                        </div>
                        <div class="restaurant-block">
                            <div class="left">
                                <a class="pull-left" href="profile.html"> <img src="/images/logo2.png" alt="Restaurant logo" /> </a>
                                <div class="pull-left right-text"> <a href="#">Chicken Restaurant</a> <span>68 5th Avenue New York</span> </div>
                            </div>
                            <div class="right-like-part pull-right"> <i class="fa fa-heart-o"></i> <span>48</span> </div>
                        </div>
                    </div>
                </div>
                <!-- Each popular food item starts -->
                <!-- Each popular food item starts -->
                <div class="col-xs-12 col-sm-6 col-md-4 food-item">
                    <div class="food-item-wrap">
                        <div class="figure-wrap bg-image" style="background: url('/images/food3.jpg')">
                            <div class="distance"><i class="fa fa-pin"></i>1240m</div>
                            <div class="rating pull-left"> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star-o"></i> </div>
                            <div class="review pull-right"><a href="#">198 reviews</a> </div>
                        </div>
                        <div class="content">
                            <h5><a href="profile.html">The South"s Best Fried Chicken</a></h5>
                            <div class="product-name">Fried Chicken with cheese</div>
                            <div class="price-btn-block"> <span class="price">$ 21,19</span> <a href="#" class="btn theme-btn-dash pull-right">Order Now</a> </div>
                        </div>
                        <div class="restaurant-block">
                            <div class="left">
                                <a class="pull-left" href="profile.html"> <img src="/images/logo3.png" alt="Restaurant logo" /> </a>
                                <div class="pull-left right-text"> <a href="#">Chicken Restaurant</a> <span>68 5th Avenue New York</span> </div>
                            </div>
                            <div class="right-like-part pull-right"> <i class="fa fa-heart-o"></i> <span>48</span> </div>
                        </div>
                    </div>
                </div>
                <!-- Each popular food item starts -->
            </div>
        </div>
    </section>
    <!-- Popular block ends -->


    <!-- How it works block starts -->
    <section class="how-it-works">
        <div class="container">
            <div class="text-xs-center">
                <h2>Easy 3 Step Order</h2>
                <!-- 3 block sections starts -->
                <div class="row how-it-works-solution">
                    <div class="col-xs-12 col-sm-12 col-md-4 how-it-works-steps white-txt col1">
                        <div class="how-it-works-wrap">
                            <div class="step step-1">
                                <div class="icon" data-step="1">
                                    <span class="fa fa-home" style="font-size: 35px; margin-top: 25px; color: #fff;"></span>
                                </div>
                                <h3>Choose a restaurant</h3>
                                <p>We"ve got your covered with menus from over 345 delivery restaurants online.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-4 how-it-works-steps white-txt col2">
                        <div class="step step-2">
                            <div class="icon" data-step="2">
                                <span class="fa fa-cutlery" style="font-size: 35px; margin-top: 25px; color: #fff;"></span>
                            </div>
                            <h3>Choose a tasty dish</h3>
                            <p>We"ve got your covered with menus from over 345 delivery restaurants online.</p>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-4 how-it-works-steps white-txt col3">
                        <div class="step step-3">
                            <div class="icon" data-step="3">
                                <span class="fa fa-motorcycle" style="font-size: 35px; margin-top: 25px; color: #fff;"></span>
                            </div>
                            <h3>Pick up or Delivery</h3>
                            <p>Get your food delivered! And enjoy your meal! Pay online on pickup or delivery</p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- 3 block sections ends -->
            <div class="row">
                <div class="col-sm-12 text-center">
                    <p class="pay-info">Pay by Cash on delivery , Card or Paypal</p>
                </div>
            </div>
        </div>
    </section>
    <!-- How it works block ends -->


    <!-- Featured restaurants starts -->
    <section class="featured-restaurants">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="title-block pull-left">
                        <h4>Featured restaurants</h4> 
                    </div>
                </div>
            </div>
            <!-- restaurants listing starts -->
            <div class="row">
                <div class="restaurant-listing">
                    <div class="col-xs-12 col-sm-12 col-md-6 single-restaurant grill fish thaifood pizza">
                        <div class="restaurant-wrap">
                            <div class="row">
                                <div class="col-xs-12 col-sm-3 col-md-12 col-lg-3 text-xs-center">
                                    <a class="restaurant-logo" href="#"> <img src="/images/big-logo7.jpg" alt="Restaurant logo"> </a>
                                </div>
                                <!--end:col -->
                                <div class="col-xs-12 col-sm-9 col-md-12 col-lg-9">
                                    <h5><a href="profile.html">Maenaam Thai Restaurant</a></h5> <span>Burgers, American, Sandwiches, Fast Food, BBQ</span>
                                    <div class="bottom-part">
                                        <div class="cost"><i class="fa fa-check"></i> Min $ 10,00</div>
                                        <div class="mins"><i class="fa fa-motorcycle"></i> 30 min</div>
                                        <div class="ratings"> <span>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star-o"></i>
                                            </span> (122) </div>
                                    </div>
                                </div>
                                <!-- end:col -->
                            </div>
                            <!-- end:row -->
                        </div>
                        <!--end:Restaurant wrap -->
                    </div>
                    <!--end: col -->
                    <div class="col-xs-12 col-sm-12 col-md-6 single-restaurant grill fish pasta thaifood">
                        <div class="restaurant-wrap">
                            <div class="row">
                                <div class="col-xs-12 col-sm-3 col-md-12 col-lg-3 text-xs-center">
                                    <a class="restaurant-logo" href="#"> <img src="/images/logo-plate.png" alt="Restaurant logo"> </a>
                                </div>
                                <!--end:col -->
                                <div class="col-xs-12 col-sm-9 col-md-12 col-lg-9">
                                    <h5><a href="profile.html">Maenaam Thai Restaurant</a></h5> <span>Burgers, American, Sandwiches, Fast Food, BBQ</span>
                                    <div class="bottom-part">
                                        <div class="cost"><i class="fa fa-check"></i> Min $ 10,00</div>
                                        <div class="mins"><i class="fa fa-motorcycle"></i> 30 min</div>
                                        <div class="ratings"> <span>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                    </span> (122) </div>
                                    </div>
                                </div>
                                <!-- end:col -->
                            </div>
                            <!-- end:row -->
                        </div>
                        <!--end:Restaurant wrap -->
                    </div>
                    <!--end: col -->
                    <div class="col-xs-12 col-sm-12 col-md-6 single-restaurant grill thaifood pasta pizza">
                        <div class="restaurant-wrap">
                            <div class="row">
                                <div class="col-xs-12 col-sm-3 col-md-12 col-lg-3 text-xs-center">
                                    <a class="restaurant-logo" href="#"> <img src="/images/big-logo8.png" alt="Restaurant logo"> </a>
                                </div>
                                <!--end:col -->
                                <div class="col-xs-12 col-sm-9 col-md-12 col-lg-9">
                                    <h5><a href="profile.html">Maenaam Thai Restaurant</a></h5> <span>Burgers, American, Sandwiches, Fast Food, BBQ</span>
                                    <div class="bottom-part">
                                        <div class="cost"><i class="fa fa-check"></i> Min $ 10,00</div>
                                        <div class="mins"><i class="fa fa-motorcycle"></i> 30 min</div>
                                        <div class="ratings"> <span>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star-o"></i>
                                        <i class="fa fa-star-o"></i>
                                    </span> (122) </div>
                                    </div>
                                </div>
                                <!-- end:col -->
                            </div>
                            <!-- end:row -->
                        </div>
                        <!--end:Restaurant wrap -->
                    </div>
                    <!--end: col -->
                    <div class="col-xs-12 col-sm-12 col-md-6 single-restaurant thaifood fish pasta">
                        <div class="restaurant-wrap">
                            <div class="row">
                                <div class="col-xs-12 col-sm-3 col-md-12 col-lg-3 text-xs-center">
                                    <a class="restaurant-logo" href="#"> <img src="/images/big-logo4.png" alt="Restaurant logo"> </a>
                                </div>
                                <!--end:col -->
                                <div class="col-xs-12 col-sm-9 col-md-12 col-lg-9">
                                    <h5><a href="profile.html">Maenaam Thai Restaurant</a></h5> <span>Burgers, American, Sandwiches, Fast Food, BBQ</span>
                                    <div class="bottom-part">
                                        <div class="cost"><i class="fa fa-check"></i> Min $ 10,00</div>
                                        <div class="mins"><i class="fa fa-motorcycle"></i> 30 min</div>
                                        <div class="ratings"> <span>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star-o"></i>
                                    </span> (122) </div>
                                    </div>
                                </div>
                                <!-- end:col -->
                            </div>
                            <!-- end:row -->
                        </div>
                        <!--end:Restaurant wrap -->
                    </div>
                    <!--end: col -->
                    <div class="col-xs-12 col-sm-12 col-md-6 single-restaurant grill fish thaifood pasta pizza">
                        <div class="restaurant-wrap">
                            <div class="row">
                                <div class="col-xs-12 col-sm-3 col-md-12 col-lg-3 text-xs-center">
                                    <a class="restaurant-logo" href="#"> <img src="/images/big-logo3.png" alt="Restaurant logo"> </a>
                                </div>
                                <!--end:col -->
                                <div class="col-xs-12 col-sm-9 col-md-12 col-lg-9">
                                    <h5><a href="profile.html">Maenaam Thai Restaurant</a></h5> <span>Burgers, American, Sandwiches, Fast Food, BBQ</span>
                                    <div class="bottom-part">
                                        <div class="cost"><i class="fa fa-check"></i> Min $ 10,00</div>
                                        <div class="mins"><i class="fa fa-motorcycle"></i> 30 min</div>
                                        <div class="ratings"> <span>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star-o"></i>
                                    </span> (122) </div>
                                    </div>
                                </div>
                                <!-- end:col -->
                            </div>
                            <!-- end:row -->
                        </div>
                        <!--end:Restaurant wrap -->
                    </div>
                    <!--end: col -->
                    <div class="col-xs-12 col-sm-12 col-md-6 single-restaurant grill pasta pizza">
                        <div class="restaurant-wrap">
                            <div class="row">
                                <div class="col-xs-12 col-sm-3 col-md-12 col-lg-3 text-xs-center">
                                    <a class="restaurant-logo" href="#"> <img src="/images/big-logo2.png" alt="Restaurant logo"> </a>
                                </div>
                                <!--end:col -->
                                <div class="col-xs-12 col-sm-9 col-md-12 col-lg-9">
                                    <h5><a href="profile.html">Maenaam Thai Restaurant</a></h5> <span>Burgers, American, Sandwiches, Fast Food, BBQ</span>
                                    <div class="bottom-part">
                                        <div class="cost"><i class="fa fa-check"></i> Min $ 10,00</div>
                                        <div class="mins"><i class="fa fa-motorcycle"></i> 30 min</div>
                                        <div class="ratings"> <span>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star-o"></i>
                                    </span> (122) </div>
                                    </div>
                                </div>
                                <!-- end:col -->
                            </div>
                            <!-- end:row -->
                        </div>
                        <!--end:Restaurant wrap -->
                    </div>
                    <!--end: col -->
                </div>
            </div>
            <!-- restaurants listing ends -->
        </div>
    </section>
    <!-- Featured restaurants ends -->


    <!-- start: FOOTER -->
    <footer class="footer">
        <div class="container">
            <!-- top footer statrs -->
            <div class="row top-footer">
                <div class="col-xs-12 col-sm-3 footer-logo-block color-gray">
                    <a href="#"> <img src="/images/food-picky-logo.png" alt="Footer logo"> </a> <span>Order Delivery &amp; Take-Out </span> </div>
                <div class="col-xs-12 col-sm-2 about color-gray">
                    <h5>About Us</h5>
                    <ul>
                        <li><a href="#">About us</a> </li>
                        <li><a href="#">History</a> </li>
                        <li><a href="#">Our Team</a> </li>
                        <li><a href="#">We are hiring</a> </li>
                    </ul>
                </div>
                <div class="col-xs-12 col-sm-2 how-it-works-links color-gray">
                    <h5>How it Works</h5>
                    <ul>
                        <li><a href="#">Enter your location</a> </li>
                        <li><a href="#">Choose restaurant</a> </li>
                        <li><a href="#">Choose meal</a> </li>
                        <li><a href="#">Pay via credit card</a> </li>
                        <li><a href="#">Wait for delivery</a> </li>
                    </ul>
                </div>
                <div class="col-xs-12 col-sm-2 pages color-gray">
                    <h5>Pages</h5>
                    <ul>
                        <li><a href="#">Search results page</a> </li>
                        <li><a href="#">User Sing Up Page</a> </li>
                        <li><a href="#">Pricing page</a> </li>
                        <li><a href="#">Make order</a> </li>
                        <li><a href="#">Add to cart</a> </li>
                    </ul>
                </div>
                <div class="col-xs-12 col-sm-3 popular-locations color-gray">
                    <h5>Popular locations</h5>
                    <ul>
                        <li><a href="#">Sarajevo</a> </li>
                        <li><a href="#">Split</a> </li>
                        <li><a href="#">Tuzla</a> </li>
                        <li><a href="#">Sibenik</a> </li>
                        <li><a href="#">Zagreb</a> </li>
                        <li><a href="#">Brcko</a> </li>
                        <li><a href="#">Beograd</a> </li>
                        <li><a href="#">New York</a> </li>
                        <li><a href="#">Gradacac</a> </li>
                        <li><a href="#">Los Angeles</a> </li>
                    </ul>
                </div>
            </div>
            <!-- top footer ends -->
            <!-- bottom footer statrs -->
            <div class="bottom-footer">
                <div class="row">
                    <div class="col-xs-12 col-sm-3 payment-options color-gray">
                        <h5>Payment Options</h5>
                        <ul>
                            <li>
                                <a href="#"> <img src="/images/paypal.png" alt="Paypal"> </a>
                            </li>
                            <li>
                                <a href="#"> <img src="/images/mastercard.png" alt="Mastercard"> </a>
                            </li>
                            <li>
                                <a href="#"> <img src="/images/maestro.png" alt="Maestro"> </a>
                            </li>
                            <li>
                                <a href="#"> <img src="/images/stripe.png" alt="Stripe"> </a>
                            </li>
                            <li>
                                <a href="#"> <img src="/images/bitcoin.png" alt="Bitcoin"> </a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-xs-12 col-sm-4 address color-gray">
                        <h5>Address</h5>
                        <p>Concept design of oline food order and deliveye,planned as restaurant directory</p>
                        <h5>Phone: <a href="tel:+080000012222">080 000012 222</a></h5> </div>
                    <div class="col-xs-12 col-sm-5 additional-info color-gray">
                        <h5>Addition informations</h5>
                        <p>Join the thousands of other restaurants who benefit from having their menus on TakeOff</p>
                    </div>
                </div>
            </div>
            <!-- bottom footer ends -->
        </div>
    </footer>
    <!-- end:Footer -->
</div>
<!--/end:Site wrapper -->